Archive/
backup-conf
backup-*.list
!backup-example.list
!backup-example-excludes.list
backup-remote*
!backup-remote-full
!backup-remote-test
backup-local*
!backup-local-full
!backup-local-test
backup-log/
