Archive/
backup-conf/backup-*.conf
!backup-conf/backup-example.conf
backup-conf/exthd-*
backup-*.list
!backup-example.list
!backup-example-excludes.list
backup-remote*
!backup-remote-example
backup-log/
